.container-home {
  background-color: #F4B910;
}

header {
  text-align: center;
}

.intro-header {
  display: flex;
  flex-flow: row-reverse, wrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  margin-bottom: 50px;
}

.select-styling {
  appearance: none;
  position: relative;
  background-color: antiquewhite;
  border-radius: 10px;
  border-color: #874A57;
  padding: 12px 20px;
  width: 200px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #874A57;
  outline-color: #874A57;
}

.select-arrow {
  position: relative;
}

.select-arrow::after {
  position: absolute;
  content: "\0076";
  color: #874A57;
  top: 10px;
  right: 20px;
  pointer-events: none;
}

.select-form {
  padding: 20px 0;
}

h1 {
  font-size: 75px;
}

h3 {
  font-family: rafelya, sans-serif;
}

.team-table {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 40px;
  border-radius: 13px;
  border: 0.5px solid;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}

th {
  font-family: rafelya, sans-serif;
  font-size: 20px;
  text-align: center;
}

tr {
  font-size: 25px;
  text-align: center;
  border-radius: 13px;
  background-color: antiquewhite;
}

tfoot > tr {
  background-color: transparent;
}

th,
td {
  padding: 20px;
  border: 0.5px solid;
}

.table-header > th {
  background-color: antiquewhite;
}

.leftcorner {
  border-top-left-radius: 13px;
}

.rightcorner {
  border-top-right-radius: 13px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.styling-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  color: #4E8712;
}

.x-icon {
  color: red;
}

.circle-icon {
  color: darkorange;
}

.text-center,
.footer-text-center {
  text-align: center;
}

.image-container {
  padding: 0;
}

.title-legend {
  border-bottom-left-radius: 13px;
}

.bottom-right-corner {
  border-bottom-right-radius: 13px;
}

tfoot {
  font-family: rafelya, sans-serif;
  font-size: 20px;
  text-align: center;
}

tfoot > tr > td {
  border: none;
}

.legend > td {
  background-color: antiquewhite;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.margin-right {
  margin-right: 20px;
}

.footer {
  padding: 40px 50px;
  text-align: right;
}

.align-middle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.button-poke {
  padding: 10px;
  margin: 10px 40px 10px 0;
  border-radius: 50%;
  cursor: pointer;
}

.filter-buttons {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.btn {
  padding: 20px;
  margin: 10px;
  border-radius: 13px;
  width: 250px;
  border: 0.5px solid antiquewhite;
  color: antiquewhite;
  font-size: 15px;
  background-color: #874A57;
}

.text-button {
  max-width: 150px;
  font-size: 18px;
}

.pokecard {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid white;
  border-radius: 13px;
  width: 250px;
  height: 400px;
  margin: 50px 0;
  position: relative;
  background-image: linear-gradient(rgb(231 231 243 / 95.3%), rgb(255 255 0 / 50.2%)), url("../media/pokecolors.jpg");
}

.poke-name {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: 400;
  text-transform: capitalize;
}

.poke-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  margin-bottom: 60px;
  opacity: 0.85;
}

.poke-link {
  display: flex;
  justify-content: center;
}

.pages {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.page-display,
.page-buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.page-num {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.btn-change-page {
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
  width: 40px;
  border: 0.5px solid antiquewhite;
  color: antiquewhite;
  font-size: 15px;
  background-color: #874A57;
}

@media (min-width: 971px) and (max-width: 1439px) {
  th {
    font-size: 17px;
    text-align: center;
  }

  tr {
    font-size: 21px;
    text-align: center;
  }

  .table {
    max-width: 2000px;
  }
}

@media (max-width: 970px) {
  nav {
    justify-content: center;
    padding: 45px 0;
  }

  th,
  tr {
    text-align: left;
  }

  .table {
    max-width: 600px;
  }

  .table thead {
    display: none;
  }

  .table,
  td,
  tr {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    bottom: 0.5px;
  }

  tbody {
    width: 100%;
    display: block;
  }

  table {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team-table {
    border: none;
    box-shadow: none;
  }

  .individual {
    position: relative;
    margin-bottom: 20px;
  }

  .firstname,
  .lastname,
  .info-on-individual,
  .status,
  .species {
    width: calc(80% - 41px);
    border-right: 0.5px;
  }

  .lastname {
    border-top-left-radius: 13px;
    border-bottom: 0.5px;
    font-weight: 400;
  }

  .info-on-individual,
  .species {
    border-bottom-left-radius: 13px;
    border-top: 0.5px;
    font-style: italic;
  }

  .image-container {
    position: absolute;
    width: 20%;
    height: calc(100% - 2px);
    top: 0.5px;
    right: 0;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex !important;
    justify-content: center;
  }

  .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .legend {
    position: relative;
    display: flex;
    width: 100%;
  }

  .legend > td {
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  nav {
    font-size: 18px;
  }

  h1 {
    font-size: 60px;
  }

  td {
    font-size: 18px;
  }

  img {
    bottom: 0;
  }

  thead {
    display: none;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}

@media (max-width: 424px) {
  nav {
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
  }

  td {
    font-size: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-on-individual {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .legend {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
