.container-home {
  background-color: bisque;
}

.intro-header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 70px;
}

.form,
.audio {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

form {
  margin-bottom: 90px;
  border-radius: 13px;
  border: 0.5px solid;
  border-color: #874A57;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  color: #874A57;
  width: 50%;
  height: auto;
  padding: 40px;
}

.input-styling,
.textarea-styling {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #874A57;
  border-color: #874A57;
  background-color: transparent;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  border: 0.5px solid;
  border-radius: 10px;
  outline: none;
  resize: none;
}

.input-styling:checked {
  background-color: #874A57;
}

.added-padding-width {
  padding: 5px 10px;
  width: calc(100% - 20px);
}

.fixed-size {
  padding: 5px 10px;
  width: 100px;
}

.spread {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.user {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.relative {
  width: 350px;
  height: 100%;
  position: relative;
  margin: 5px;
}

.opacity {
  position: absolute;
  opacity: 0.2;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  pointer-events: none;
  left: 1px;
}

.date,
.color {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.spread-date,
.spread-color {
  margin-bottom: 15px;
  width: 100%;
}

input[type="date"] {
  color: #874A57;
  width: 150px;
  height: 30px;
  padding: 10px;
}

::-webkit-calendar-picker-indicator {
  background-color: transparent;
  cursor: pointer;
}

#color {
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
}

#color::-webkit-color-swatch {
  border-radius: 5px !important;
  border: 0.5px solid black;
}

#color::-moz-color-swatch {
  border-radius: 5px !important;
  border: 0.5px solid black;
}

fieldset {
  border: 0.5px solid;
  border-radius: 10px;
  border-color: #874A57;
  width: 350px;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-flow: column wrap;
}

.fieldset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 3px 0;
}

legend {
  text-align: center;
}

input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0 10px;
  font: inherit;
  color: currentcolor;
  width: 15px;
  height: 15px;
  border: 0.1 solid currentcolor;
  border-radius: 50%;
}

audio {
  width: 400px;
  margin-top: 20px;
}

.audio {
  margin: 40px 0;
}

audio::-webkit-media-controls-panel {
  background-color: #874A57;
  color: #FFF;
}

.comment {
  display: flex;
  flex: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}

.relative-textarea {
  position: relative;
  width: 450px;
  height: 350px;
  margin-top: 20px;
}

.textarea-space-size {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  padding: 40px;
}

.agree,
.send {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0 10px;
  font: inherit;
  color: currentcolor;
  width: 15px;
  height: 15px;
  border: 0.1 solid currentcolor;
  border-radius: 2px;
}

.agreement {
  margin: 20px;
  width: 380px;
  font-size: 16px;
}

input[type="submit" i] {
  background-color: #874A57;
  color: #F9E0DB;
  padding: 10px 25px;
}

.send {
  margin-bottom: 40px;
}

.footer {
  padding: 40px 50px;
  text-align: right;
  background-color: #874A57;
  color: #F9E0DB;
  font-size: 15px;
}

@media (min-width: 1817px) {
  h1 {
    font-size: 80px;
  }

  .spread {
    margin: 30px 0;
  }

  .spread-date {
    margin-bottom: 20px;
  }

  input[type="date"] {
    width: 200px;
    height: 30px;
    padding: 20px;
  }

  fieldset {
    width: 450px;
    margin-top: 40px;
  }

  audio {
    width: 500px;
  }

  .audio {
    margin: 60px 0;
  }

  #color {
    width: 60px;
    height: 60px;
  }

  .relative-textarea {
    width: 600px;
    height: 500px;
  }

  .agreement {
    margin: 40px;
  }
}

@media (min-width: 1439px) and (max-width: 1816px) {
  .spread {
    margin: 30px 0;
  }

  .spread-date {
    margin-bottom: 20px;
  }

  input[type="date"] {
    width: 200px;
    height: 30px;
    padding: 20px;
  }

  #color {
    width: 60px;
    height: 60px;
  }

  fieldset {
    width: 450px;
    margin-top: 40px;
  }

  audio {
    width: 500px;
  }

  .audio {
    margin: 60px 0;
  }

  .relative-textarea {
    width: 600px;
    height: 500px;
  }

  .agreement {
    margin: 40px;
  }
}

@media (min-width: 1040px) and (max-width: 1439px) {
  form {
    margin-bottom: 90px;
    padding: 40px;
  }

  .container-home {
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
  }

  .fixed-size {
    width: 100px;
  }

  .spread {
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  .input-styling,
  .textarea-styling {
    font-size: 18px;
  }

  input[type="date"] {
    width: 150px;
    height: 30px;
    padding: 10px;
  }

  #color {
    width: 50px;
    height: 50px;
  }

  fieldset {
    width: 300px;
    margin-top: 30px;
  }

  audio {
    width: 400px;
  }

  .audio {
    margin: 40px 0;
  }

  .relative-textarea {
    margin-top: 20px;
    width: 450px;
    height: 350px;
  }

  .agreement {
    margin: 40px 0;
    width: 380px;
    font-size: 16px;
  }

  .send {
    margin-bottom: 40px;
  }

  input[type="submit" i] {
    padding: 10px 25px;
  }

  .footer {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1039px) {
  form {
    margin-bottom: 70px;
    padding: 30px;
  }

  .container-home {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  .fixed-size {
    width: 68px;
    text-align: center;
  }

  .spread {
    width: 100%;
    margin: 20px 0;
  }

  fieldset {
    width: 250px;
    margin-top: 30px;
  }

  audio {
    width: 300px;
  }

  .audio {
    margin: 40px 0;
  }

  .textarea-space-size {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }

  .input-styling,
  .textarea-styling {
    font-size: 16px;
  }

  .relative-textarea {
    width: 300px;
    height: 250px;
  }

  input[type="checkbox"] {
    min-width: 15px;
  }

  .agreement {
    margin: 20px 0;
    width: 300px;
    font-size: 15px;
  }

  .footer {
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 676px) and (max-width: 767px) {
  nav {
    justify-content: center;
    padding: 45px 0;
    font-size: 15px;
  }

  form {
    margin-bottom: 70px;
    padding: 30px;
  }

  .container-home {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  .fixed-size {
    width: 68px;
    text-align: center;
  }

  .spread {
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  fieldset {
    width: 250px;
    margin-top: 30px;
  }

  audio {
    width: 180px;
  }

  .audio {
    margin: 40px 0;
  }

  .textarea-space-size {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }

  .input-styling,
  .textarea-styling {
    font-size: 16px;
  }

  .relative-textarea {
    margin-top: 20px;
    width: 280px;
    height: 200px;
  }

  .agreement {
    width: 200px;
    font-size: 12px;
    text-align: left;
  }

  .footer {
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 425px) and (max-width: 675px) {
  nav {
    justify-content: center;
    padding: 45px 0;
    font-size: 15px;
  }

  form {
    width: 250px;
    margin-bottom: 60px;
  }

  .container-home {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  .fixed-size {
    width: auto;
  }

  .spread {
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }

  .spread-color {
    margin-bottom: 10px;
    width: 100%;
  }

  #color {
    width: 40px;
    height: 40px;
  }

  fieldset {
    width: 180px;
  }

  legend {
    text-align: center;
  }

  audio {
    width: 180px;
    height: 40px;
  }

  .textarea-space-size {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }

  .input-styling,
  .textarea-styling {
    font-size: 15px;
  }

  .relative-textarea {
    width: 240px;
    height: 200px;
  }

  .agreement {
    margin: 20px 0;
    width: 300px;
    font-size: 10px;
    text-align: left;
  }

  input[type="checkbox"] {
    min-width: 15px;
  }

  input[type="submit" i] {
    padding: 8px 25px;
  }

  .send {
    margin-bottom: 0;
  }

  .footer {
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  nav {
    justify-content: center;
    padding: 45px 0 25px;
    font-size: 15px;
  }

  form {
    width: 200px;
    margin-bottom: 60px;
  }

  .container-home {
    font-size: 13px;
  }

  h1 {
    font-size: 35px;
  }

  .fixed-size {
    width: auto;
  }

  .spread {
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }

  .spread-date,
  .spread-color {
    margin-bottom: 10px;
    width: 100%;
  }

  legend {
    text-align: center;
  }

  #color {
    width: 40px;
    height: 40px;
  }

  fieldset {
    width: 150px;
  }

  audio {
    width: 170px;
    height: 35px;
  }

  .textarea-space-size {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }

  .input-styling,
  .textarea-styling {
    font-size: 13px;
  }

  .relative-textarea {
    margin-top: 20px;
    width: 200px;
    height: 180px;
  }

  .agreement {
    margin: 20px 0;
    width: 300px;
    font-size: 10px;
    text-align: left;
  }

  input[type="checkbox"] {
    min-width: 15px;
  }

  input[type="submit" i] {
    padding: 8px 25px;
  }

  .send {
    margin-bottom: 0;
  }

  .footer {
    font-size: 12px;
    text-align: center;
    padding: 15px 0;
  }
}
